Repository kFlix-tv/k8s-kflix, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/go-task, area/terraform

.github/labeler.yaml:

area/ansible:
- "ansible/**/*"
area/github:
- ".github/**/*"
area/kubernetes:
- "kubernetes/**/*"
area/go-task:
- ".taskfiles/**/*"
area/terraform:
- "terraform/**/*"

kubernetes-csi-addons
  kubernetes/flux/repositories/git/kubernetes-csi-addons.yaml
  kubernetes/flux/repositories/git/kustomization.yaml
Labels: area/kubernetes

rook-ceph
  kubernetes/flux/repositories/helm/kustomization.yaml
  kubernetes/flux/repositories/helm/rook-ceph.yaml
Labels: area/kubernetes

piraeus
  kubernetes/flux/repositories/helm/kustomization.yaml
  kubernetes/flux/repositories/helm/piraeus.yaml
Labels: area/kubernetes

csi-addons-controller
  kubernetes/deployments/core/csi-addons-system/csi-addons-controller-manager/ks.yaml
  kubernetes/deployments/core/csi-addons-system/kustomization.yaml
  kubernetes/deployments/core/csi-addons-system/namespace.yaml
Labels: area/kubernetes

ceph start
  kubernetes/deployments/core/rook-ceph/kustomization.yaml
  kubernetes/deployments/core/rook-ceph/namespace.yaml
  kubernetes/deployments/core/rook-ceph/rook-ceph/app/helmrelease.yaml
  kubernetes/deployments/core/rook-ceph/rook-ceph/app/kustomization.yaml
  kubernetes/deployments/core/rook-ceph/rook-ceph/ks.yaml
Labels: area/kubernetes

rook-ceph cluster
  kubernetes/deployments/core/rook-ceph/rook-ceph/cluster/cephcluster.yaml
  kubernetes/deployments/core/rook-ceph/rook-ceph/cluster/gatus.yaml
  kubernetes/deployments/core/rook-ceph/rook-ceph/cluster/ingress.yaml
  kubernetes/deployments/core/rook-ceph/rook-ceph/cluster/kustomization.yaml
  kubernetes/deployments/core/rook-ceph/rook-ceph/ks.yaml
Labels: area/kubernetes

#
  kubernetes/deployments/core/rook-ceph/rook-ceph/ks.yaml
Labels: area/kubernetes

allowmultiple
  kubernetes/deployments/core/rook-ceph/rook-ceph/cluster/cephcluster.yaml
Labels: area/kubernetes

wait
  kubernetes/deployments/core/rook-ceph/rook-ceph/ks.yaml
Labels: area/kubernetes

multiple pods with host network is no no
  kubernetes/deployments/core/rook-ceph/rook-ceph/cluster/cephcluster.yaml
Labels: area/kubernetes

ingress update
  kubernetes/deployments/core/rook-ceph/rook-ceph/cluster/ingress.yaml
Labels: area/kubernetes

feat(pre-commit): new pre-commit for conventional commits
  .pre-commit-config.yaml
Labels: none

docs: Added todo
  .pre-commit-config.yaml
Labels: none

fix(ceph): Switch to helm chart
  kubernetes/deployments/core/rook-ceph/rook-ceph/cluster/cephcluster.yaml
  kubernetes/deployments/core/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/deployments/core/rook-ceph/rook-ceph/cluster/ingress.yaml
  kubernetes/deployments/core/rook-ceph/rook-ceph/cluster/kustomization.yaml
Labels: area/kubernetes

fix(rook-ceph): Gatus category
  kubernetes/deployments/core/rook-ceph/rook-ceph/cluster/gatus.yaml
Labels: area/kubernetes

fix(kyverno): Remove unique ingress rule temporarily
  kubernetes/deployments/startup/kyverno/kyverno/policies/kustomization.yaml
Labels: area/kubernetes

fix(rook-ceph): trying to get dashboard working again
  kubernetes/deployments/core/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

fix(rook-ceph): put mon section back in
  kubernetes/deployments/core/flux-system/tf-controller/terraforms/tf-ovh-s3.yaml
  kubernetes/deployments/core/monitoring/loki/app/gatus 2.yaml
  kubernetes/deployments/core/monitoring/loki/app/gatus.yaml
  kubernetes/deployments/core/monitoring/loki/app/helmrelease 2.yaml
  kubernetes/deployments/core/monitoring/loki/app/helmrelease.yaml
  kubernetes/deployments/core/monitoring/loki/app/kustomization 2.yaml
  kubernetes/deployments/core/monitoring/loki/app/kustomization.yaml
  kubernetes/deployments/core/monitoring/loki/app/objectbucketclaim 2.yaml
  kubernetes/deployments/core/monitoring/loki/app/objectbucketclaim.yaml
  kubernetes/deployments/core/monitoring/loki/app/rules/loki-alerting-rules.yaml
  kubernetes/deployments/core/monitoring/loki/ks 2.yaml
  kubernetes/deployments/core/monitoring/loki/ks.yaml
  kubernetes/deployments/core/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

revert: accident
  kubernetes/deployments/core/flux-system/tf-controller/terraforms/tf-ovh-s3.yaml
  kubernetes/deployments/core/monitoring/loki/app/gatus 2.yaml
  kubernetes/deployments/core/monitoring/loki/app/gatus.yaml
  kubernetes/deployments/core/monitoring/loki/app/helmrelease 2.yaml
  kubernetes/deployments/core/monitoring/loki/app/helmrelease.yaml
  kubernetes/deployments/core/monitoring/loki/app/kustomization 2.yaml
  kubernetes/deployments/core/monitoring/loki/app/kustomization.yaml
  kubernetes/deployments/core/monitoring/loki/app/objectbucketclaim 2.yaml
  kubernetes/deployments/core/monitoring/loki/app/objectbucketclaim.yaml
  kubernetes/deployments/core/monitoring/loki/app/rules/loki-alerting-rules.yaml
  kubernetes/deployments/core/monitoring/loki/ks 2.yaml
  kubernetes/deployments/core/monitoring/loki/ks.yaml
Labels: area/kubernetes

fix(rook-ceph): bare helm chart
  kubernetes/deployments/core/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

fix(rook-ceph): remove cluster for redeploy
  kubernetes/deployments/core/rook-ceph/rook-ceph/ks.yaml
Labels: area/kubernetes

fix(rook-ceph): reenable cluster helm
  kubernetes/deployments/core/rook-ceph/rook-ceph/ks.yaml
Labels: area/kubernetes

fix(rook-ceph): readd cluster to helm chart
  kubernetes/deployments/core/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

feat(ansible): add rook-ceph cluster reset
  .taskfiles/AnsibleTasks.yml
  ansible/playbooks/cluster-ceph-reset.yaml
Labels: area/ansible, area/go-task

fix(rook-ceph): add in block storage to see if mons get created
  kubernetes/deployments/core/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

fix(certificates): Staging TLS
  kubernetes/deployments/core/networking/nginx/certificates/kustomization.yaml
  kubernetes/deployments/core/networking/nginx/external/helmrelease.yaml
Labels: area/kubernetes

fix(rook-ceph): remove dependency on prometheus
  kubernetes/deployments/core/rook-ceph/rook-ceph/ks.yaml
Labels: area/kubernetes

fix(ansible): add ceph-reset to redeploy
  ansible/playbooks/cluster-reinstall.yaml
Labels: area/ansible

fix(ansible): modify k3s killall script to lazy unmount
  ansible/playbooks/cluster-installation.yaml
Labels: area/ansible

fix(rook-ceph): allow multiple mgr
  kubernetes/deployments/core/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

fix(rook-ceph): move pvcs to ceph
  kubernetes/deployments/core/database/cloudnative-pg/cluster/cluster.yaml
  kubernetes/deployments/core/monitoring/grafana/app/pvc.yaml
  kubernetes/deployments/core/monitoring/kube-prometheus-stack/app/pvc.yaml
Labels: area/kubernetes

feat(flux): remove minio & longhorn
  archive/longhorn-system/kustomization.yaml
  archive/longhorn-system/longhorn/app/cloudflareaccessapplication.yaml
  archive/longhorn-system/longhorn/app/externalsecret.yaml
  archive/longhorn-system/longhorn/app/gatus.yaml
  archive/longhorn-system/longhorn/app/helmrelease.yaml
  archive/longhorn-system/longhorn/app/kustomization.yaml
  archive/longhorn-system/longhorn/ks.yaml
  archive/longhorn-system/longhorn/settings/kustomization.yaml
  archive/longhorn-system/longhorn/settings/recurringjob-daily-backup.yaml
  archive/longhorn-system/longhorn/settings/storageclass.yaml
  archive/longhorn-system/namespace.yaml
  archive/minio-operator/kustomization.yaml
  archive/minio-operator/minio-operator/app/helmrelease.yaml
  archive/minio-operator/minio-operator/app/kustomization.yaml
  archive/minio-operator/minio-operator/ks.yaml
  archive/minio-operator/namespace.yaml
  archive/minio-tenant/kustomization.yaml
  archive/minio-tenant/minio-tenant/ks.yaml
  archive/minio-tenant/minio-tenant/tenant/externalsecret.yaml
  archive/minio-tenant/minio-tenant/tenant/ingress.yaml
  archive/minio-tenant/minio-tenant/tenant/kustomization.yaml
  archive/minio-tenant/minio-tenant/tenant/tenant.yaml
  archive/minio-tenant/namespace.yaml
Labels: none

fix(kubernetes): update dependsOn to rook-ceph instead of longhorn
  kubernetes/deployments/core/database/cloudnative-pg/ks.yaml
  kubernetes/deployments/core/kube-system/reloader/ks.yaml
  kubernetes/deployments/core/monitoring/kube-prometheus-stack/ks.yaml
Labels: area/kubernetes

fix(rook-ceph): tone down replication
  kubernetes/deployments/core/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

fix(rook-ceph): switch to ceph-filesystem
  kubernetes/deployments/core/database/cloudnative-pg/cluster/cluster.yaml
  kubernetes/deployments/core/monitoring/grafana/app/pvc.yaml
  kubernetes/deployments/core/monitoring/kube-prometheus-stack/app/pvc.yaml
Labels: area/kubernetes

fix(rook-ceph): add device filter
  kubernetes/deployments/core/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

fix(rook-ceph): change devices
  kubernetes/deployments/core/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

chore: ignore .venv folder
  .gitignore
Labels: none

chore(terraform): update tf lock
  terraform/.terraform.lock.hcl
Labels: area/terraform

feat(go-task): add full-redeploy
  .taskfiles/AnsibleTasks.yml
  .taskfiles/TerraformTasks.yml
  Taskfile.yml
Labels: area/go-task
