Repository kFlix-tv/k8s-kflix, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/go-task, area/terraform

fix(ansible): wipe hard disks completely for ceph
  ansible/playbooks/server-init.yaml
Labels: area/ansible

fix(rook-ceph): specify devices correctly
  kubernetes/deployments/core/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

fix(rook-ceph): use all devices
  kubernetes/deployments/core/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

fix(rook-ceph): OSDs per device = 3
  kubernetes/deployments/core/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

fix(ansible): cluster redeploy needs to have clean disks
  ansible/playbooks/cluster-nuke.yaml
  ansible/playbooks/server-init.yaml
  ansible/playbooks/tasks/wipe-disks.yaml
Labels: area/ansible

fix(rook-ceph): increase mgr count
  kubernetes/deployments/core/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

fix(rook-ceph): change failure domain to osd to support single node k3s
  kubernetes/deployments/core/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

fix(go-task): Include new kubectl upload
  Taskfile.yml
Labels: none

revert(rook-ceph): mgr count should be 2 or less
  kubernetes/deployments/core/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

fix(kubernetes): Production TLS
  kubernetes/deployments/core/networking/nginx/certificates/kustomization.yaml
  kubernetes/deployments/core/networking/nginx/external/helmrelease.yaml
Labels: area/kubernetes

fix(go-task): Fix TLS tasks to have correct commit
  .taskfiles/KubernetesTasks.yml
Labels: area/go-task

.github/labeler.yaml:

area/ansible:
- "ansible/**/*"
area/github:
- ".github/**/*"
area/kubernetes:
- "kubernetes/**/*"
area/go-task:
- ".taskfiles/**/*"
area/terraform:
- "terraform/**/*"
