Repository kFlix-tv/k8s-kflix, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/go-task, area/terraform

github tasks
  .taskfiles/GithubTasks.yml
  Taskfile.yml
Labels: area/go-task

need the repo...
  kubernetes/flux/repositories/helm/kyverno.yaml
Labels: area/kubernetes

stop for now
  kubernetes/deployments/core/kyverno/kustomization.yaml
  kubernetes/deployments/core/kyverno/kyverno/app/helmrelease.yaml
  kubernetes/deployments/core/kyverno/kyverno/ks.yaml
  kubernetes/flux/repositories/helm/kyverno.yaml
Labels: area/kubernetes

always forget this piece
  kubernetes/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes

add back in
  kubernetes/deployments/core/kyverno/kustomization.yaml
Labels: area/kubernetes

semtex
  .github/workflows/publish-schemas.yaml
Labels: area/github

tagging
  .github/workflows/publish-schemas.yaml
Labels: area/github

skip set tag2
  .github/workflows/publish-schemas.yaml
Labels: area/github

this might work?
  .github/workflows/publish-schemas.yaml
Labels: area/github

weird text issues
  .github/workflows/publish-schemas.yaml
Labels: area/github

semtex
  kubernetes/deployments/apps/default/kubernetes-schemas/app/helmrelease.yaml
Labels: area/kubernetes

automerge schemas
  .github/renovate/autoMerge.json5
Labels: area/github

package is public
  kubernetes/deployments/apps/default/kubernetes-schemas/app/helmrelease.yaml
Labels: area/kubernetes

kyverno yaml
  kubernetes/deployments/core/kyverno/kyverno/policies/remove-cpu-limits.yaml
  kubernetes/deployments/core/kyverno/namespace.yaml
Labels: area/kubernetes

kyverno rules
  kubernetes/deployments/core/kyverno/kyverno/policies/add-default-resources.yaml
  kubernetes/deployments/core/kyverno/kyverno/policies/add-imagepull-secrets.yaml
  kubernetes/deployments/core/kyverno/kyverno/policies/disallow-empty-ingress-host.yaml
  kubernetes/deployments/core/kyverno/kyverno/policies/disallow-latest-tag.yaml
  kubernetes/deployments/core/kyverno/kyverno/policies/kustomization.yaml
Labels: area/kubernetes

more kyverno policies
  kubernetes/deployments/core/kyverno/kyverno/app/externalsecret.yaml
  kubernetes/deployments/core/kyverno/kyverno/app/kustomization.yaml
  kubernetes/deployments/core/kyverno/kyverno/policies/add-imagepull-secrets.yaml
  kubernetes/deployments/core/kyverno/kyverno/policies/ingress-host-match-tls.yaml
  kubernetes/deployments/core/kyverno/kyverno/policies/kustomization.yaml
  kubernetes/deployments/core/kyverno/kyverno/policies/sync-ghcr-secret.yaml
  kubernetes/deployments/core/kyverno/kyverno/policies/unique-ingress-host.yaml
Labels: area/kubernetes

removed this file
  kubernetes/deployments/apps/default/kubernetes-schemas/app/kustomization.yaml
Labels: area/kubernetes

only works on new namespaces
  kubernetes/deployments/core/kyverno/kyverno/policies/kustomization.yaml
  kubernetes/deployments/core/kyverno/kyverno/policies/sync-ghcr-secret.yaml
Labels: area/kubernetes

move ghrc secret
  kubernetes/deployments/startup/external-secrets/external-secrets/clustersecrets/ghcr-credentials.yaml
  kubernetes/deployments/startup/external-secrets/external-secrets/clustersecrets/kustomization.yaml
  kubernetes/deployments/startup/external-secrets/external-secrets/ks.yaml
Labels: area/kubernetes

add clustersecret repo
  kubernetes/flux/repositories/helm/clustersecret.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes

clustersecret
  kubernetes/deployments/core/clustersecret/clustersecret/app/helmrelease.yaml
  kubernetes/deployments/core/clustersecret/clustersecret/app/kustomization.yaml
  kubernetes/deployments/core/clustersecret/clustersecret/ks.yaml
  kubernetes/deployments/core/clustersecret/clustersecret/secrets-replication/ghcr-credentials.yaml
  kubernetes/deployments/core/clustersecret/clustersecret/secrets-replication/kustomization.yaml
  kubernetes/deployments/core/clustersecret/kustomization.yaml
  kubernetes/deployments/core/clustersecret/namespace.yaml
Labels: area/kubernetes

newer container
  kubernetes/deployments/core/clustersecret/clustersecret/app/helmrelease.yaml
Labels: area/kubernetes

remove clustersecret
  kubernetes/deployments/core/clustersecret/kustomization.yaml
Labels: area/kubernetes

some renovate updates
  .github/renovate.json5
Labels: area/github

enable files to be deleted
  .github/workflows/yaml-language-server-check.yaml
Labels: area/github

move clustersecrets to manual yaml + startup
  kubernetes/deployments/core/clustersecret/kustomization.yaml
  kubernetes/deployments/startup/clustersecret/clustersecret/app/00_rbac.yaml
  kubernetes/deployments/startup/clustersecret/clustersecret/app/01_crd.yaml
  kubernetes/deployments/startup/clustersecret/clustersecret/app/02_deployment.yaml
  kubernetes/deployments/startup/clustersecret/clustersecret/app/helmrelease.yaml
  kubernetes/deployments/startup/clustersecret/clustersecret/app/kustomization.yaml
  kubernetes/deployments/startup/clustersecret/clustersecret/ks.yaml
  kubernetes/deployments/startup/clustersecret/clustersecret/secrets-replication/ghcr-credentials.yaml
  kubernetes/deployments/startup/clustersecret/clustersecret/secrets-replication/kustomization.yaml
  kubernetes/deployments/startup/clustersecret/kustomization.yaml
  kubernetes/deployments/startup/clustersecret/namespace.yaml
Labels: area/kubernetes

move kyverno to startup
  kubernetes/deployments/startup/kyverno/kustomization.yaml
  kubernetes/deployments/startup/kyverno/kyverno/app/helmrelease.yaml
  kubernetes/deployments/startup/kyverno/kyverno/app/kustomization.yaml
  kubernetes/deployments/startup/kyverno/kyverno/ks.yaml
  kubernetes/deployments/startup/kyverno/kyverno/policies/add-default-resources.yaml
  kubernetes/deployments/startup/kyverno/kyverno/policies/add-imagepull-secrets.yaml
  kubernetes/deployments/startup/kyverno/kyverno/policies/disallow-empty-ingress-host.yaml
  kubernetes/deployments/startup/kyverno/kyverno/policies/disallow-latest-tag.yaml
  kubernetes/deployments/startup/kyverno/kyverno/policies/ingress-host-match-tls.yaml
  kubernetes/deployments/startup/kyverno/kyverno/policies/kustomization.yaml
  kubernetes/deployments/startup/kyverno/kyverno/policies/remove-cpu-limits.yaml
  kubernetes/deployments/startup/kyverno/kyverno/policies/unique-ingress-host.yaml
  kubernetes/deployments/startup/kyverno/namespace.yaml
Labels: area/kubernetes

should be waiting here
  kubernetes/flux/core.yaml
Labels: area/kubernetes

IP management
  IPAM.yaml
  kubernetes/deployments/core/database/cloudnative-pg/cluster/service.yaml
Labels: area/kubernetes

yls
  kubernetes/deployments/startup/clustersecret/clustersecret/secrets-replication/ghcr-credentials.yaml
Labels: area/kubernetes

allowSnippetAnnotations
  kubernetes/deployments/core/networking/nginx/external/helmrelease.yaml
  kubernetes/deployments/core/networking/nginx/internal/helmrelease.yaml
Labels: area/kubernetes

renovate update
  .github/renovate.json5
Labels: area/github

kube proxy true
  ansible/playbooks/templates/custom-cilium-helmchart.yaml.j2
  kubernetes/deployments/core/kube-system/cilium/app/helmrelease.yaml
Labels: area/ansible, area/kubernetes

tcp_bbr
  ansible/playbooks/cluster-prepare.yaml
  kubernetes/deployments/core/kube-system/cilium/app/helmrelease.yaml
Labels: area/ansible, area/kubernetes

testing
  kubernetes/deployments/apps/default/hajimari/app/helmrelease.yaml
  kubernetes/deployments/apps/default/hajimari/ks.yaml
Labels: area/kubernetes

another test
  kubernetes/deployments/apps/default/hajimari/app/gatus.yaml
  kubernetes/deployments/apps/default/hajimari/app/helmrelease.yaml
  kubernetes/deployments/apps/default/hajimari/app/kustomization.yaml
  kubernetes/deployments/apps/default/hajimari/ks.yaml
Labels: area/kubernetes

more test
  kubernetes/deployments/apps/default/hajimari/ks.yaml
Labels: area/kubernetes

move hajimari back and use my newfound powers wisely
  kubernetes/deployments/apps/default/hajimari/app/helmrelease.yaml
  kubernetes/deployments/apps/default/hajimari/ks.yaml
  kubernetes/deployments/core/networking/nginx/ks.yaml
Labels: area/kubernetes

remove "cluster" from everything
  kubernetes/deployments/apps/default/kubernetes-schemas/ks.yaml
  kubernetes/deployments/core/cert-manager/cert-manager/ks.yaml
  kubernetes/deployments/core/csi-rclone/csi-rclone/ks.yaml
  kubernetes/deployments/core/database/cloudnative-pg/ks.yaml
  kubernetes/deployments/core/flux-system/addons/app/webhooks/github/receiver.yaml
  kubernetes/deployments/core/flux-system/addons/ks.yaml
  kubernetes/deployments/core/flux-system/weave-gitops/ks.yaml
  kubernetes/deployments/core/kube-system/cilium/ks.yaml
  kubernetes/deployments/core/kube-system/coredns/ks.yaml
  kubernetes/deployments/core/kube-system/local-path-provisioner/ks.yaml
  kubernetes/deployments/core/kube-system/metrics-server/ks.yaml
  kubernetes/deployments/core/kube-system/reloader/ks.yaml
  kubernetes/deployments/core/longhorn-system/longhorn/ks.yaml
  kubernetes/deployments/core/monitoring/gatus/ks.yaml
  kubernetes/deployments/core/monitoring/grafana/ks.yaml
  kubernetes/deployments/core/monitoring/kube-prometheus-stack/ks.yaml
  kubernetes/deployments/core/monitoring/kubernetes-dashboard/ks.yaml
  kubernetes/deployments/core/networking/cloudflared/ks.yaml
  kubernetes/deployments/core/networking/echo-server/ks.yaml
  kubernetes/deployments/core/networking/external-dns/ks.yaml
  kubernetes/deployments/core/networking/k8s-gateway/ks.yaml
  kubernetes/deployments/core/networking/nginx/ks.yaml
  kubernetes/deployments/core/zero-trust/cloudflare-zerotrust/ks.yaml
  kubernetes/deployments/startup/clustersecret/clustersecret/ks.yaml
  kubernetes/deployments/startup/external-secrets/external-secrets/ks.yaml
  kubernetes/deployments/startup/flux-system/vars/ks.yaml
  kubernetes/deployments/startup/kyverno/kyverno/ks.yaml
  kubernetes/deployments/startup/op/onepassword-connect/ks.yaml
  kubernetes/deployments/startup/system-upgrade/system-upgrade-controller/ks.yaml
Labels: area/kubernetes

movin movin movin
  kubernetes/deployments/apps/default/kubernetes-schemas/ks.yaml
  kubernetes/deployments/core/flux-system/addons/ks.yaml
  kubernetes/deployments/core/flux-system/weave-gitops/ks.yaml
  kubernetes/deployments/core/kube-system/cilium/ks.yaml
  kubernetes/deployments/core/kube-system/coredns/ks.yaml
  kubernetes/deployments/core/kube-system/local-path-provisioner/ks.yaml
  kubernetes/deployments/core/kube-system/metrics-server/ks.yaml
  kubernetes/deployments/core/kube-system/reloader/ks.yaml
  kubernetes/deployments/core/longhorn-system/longhorn/ks.yaml
  kubernetes/deployments/core/monitoring/gatus/ks.yaml
  kubernetes/deployments/core/monitoring/grafana/ks.yaml
  kubernetes/deployments/core/monitoring/kube-prometheus-stack/ks.yaml
  kubernetes/deployments/core/monitoring/kubernetes-dashboard/ks.yaml
  kubernetes/deployments/core/networking/cloudflared/ks.yaml
  kubernetes/deployments/core/networking/echo-server/ks.yaml
  kubernetes/deployments/core/networking/external-dns/ks.yaml
  kubernetes/deployments/core/networking/k8s-gateway/ks.yaml
  kubernetes/deployments/core/networking/nginx/ks.yaml
  kubernetes/deployments/core/zero-trust/cloudflare-zerotrust/ks.yaml
  kubernetes/deployments/startup/clustersecret/clustersecret/ks.yaml
  kubernetes/deployments/startup/flux-system/vars/ks.yaml
  kubernetes/deployments/startup/op/onepassword-connect/ks.yaml
  kubernetes/deployments/startup/system-upgrade/system-upgrade-controller/ks.yaml
Labels: area/kubernetes

.github/labeler.yaml:

area/ansible:
- "ansible/**/*"
area/github:
- ".github/**/*"
area/kubernetes:
- "kubernetes/**/*"
area/go-task:
- ".taskfiles/**/*"
area/terraform:
- "terraform/**/*"
