Repository kFlix-tv/k8s-kflix, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/go-task, area/terraform

.github/labeler.yaml:

area/ansible:
- "ansible/**/*"
area/github:
- ".github/**/*"
area/kubernetes:
- "kubernetes/**/*"
area/go-task:
- ".taskfiles/**/*"
area/terraform:
- "terraform/**/*"

missed an important one
  kubernetes/deployments/startup/external-secrets/external-secrets/ks.yaml
Labels: area/kubernetes

anotha one
  kubernetes/deployments/startup/system-upgrade/system-upgrade-controller/ks.yaml
Labels: area/kubernetes

revert
  kubernetes/deployments/startup/clustersecret/clustersecret/ks.yaml
Labels: area/kubernetes

missed some pieces
  kubernetes/deployments/core/cert-manager/cert-manager/ks.yaml
  kubernetes/deployments/core/flux-system/addons/ks.yaml
  kubernetes/deployments/core/zero-trust/cloudflare-zerotrust/ks.yaml
  kubernetes/deployments/startup/clustersecret/clustersecret/app/01_crd.yaml
Labels: area/kubernetes

github kubeconfig secret
  .taskfiles/GithubTasks.yml
Labels: area/go-task

comment
  ansible/playbooks/cluster-prepare.yaml
Labels: area/ansible

remove unneeded file
  ansible/playbooks/cluster-ceph-reset.yaml
Labels: area/ansible

guarded vs "admin"
  kubernetes/deployments/apps/default/kubernetes-schemas/app/gatus.yaml
  kubernetes/deployments/core/flux-system/weave-gitops/app/gatus.yaml
  kubernetes/deployments/core/longhorn-system/longhorn/app/gatus.yaml
  kubernetes/deployments/core/monitoring/gatus/app/config/config.yaml
  kubernetes/deployments/core/monitoring/grafana/app/gatus.yaml
  kubernetes/deployments/core/monitoring/kube-prometheus-stack/app/gatus.yaml
  kubernetes/deployments/core/monitoring/kubernetes-dashboard/app/gatus.yaml
Labels: area/kubernetes

echo server gatus
  kubernetes/deployments/core/networking/echo-server/app/gatus.yaml
  kubernetes/deployments/core/networking/echo-server/app/kustomization.yaml
Labels: area/kubernetes

gatus
  kubernetes/deployments/core/longhorn-system/longhorn/app/gatus.yaml
  kubernetes/deployments/core/monitoring/gatus/app/config/config.yaml
  kubernetes/deployments/core/monitoring/grafana/app/gatus.yaml
  kubernetes/deployments/core/monitoring/kube-prometheus-stack/app/gatus.yaml
  kubernetes/deployments/core/monitoring/kubernetes-dashboard/app/gatus.yaml
Labels: area/kubernetes

labels
  kubernetes/deployments/core/monitoring/kubernetes-dashboard/app/gatus.yaml
  kubernetes/deployments/core/networking/echo-server/app/gatus.yaml
Labels: area/kubernetes

add minio
  kubernetes/deployments/core/datastore/kustomization.yaml
  kubernetes/deployments/core/datastore/minio/app/externalsecret.yaml
  kubernetes/deployments/core/datastore/minio/app/helmrelease.yaml
  kubernetes/deployments/core/datastore/minio/app/kustomization.yaml
  kubernetes/deployments/core/datastore/minio/app/pvc.yaml
  kubernetes/deployments/core/datastore/minio/ks.yaml
  kubernetes/deployments/core/datastore/namespace.yaml
Labels: area/kubernetes

oh yeah
  kubernetes/deployments/core/datastore/minio/app/pvc.yaml
Labels: area/kubernetes

add namespace
  kubernetes/deployments/core/datastore/minio/app/pvc.yaml
Labels: area/kubernetes

typo
  kubernetes/deployments/core/datastore/minio/app/pvc.yaml
Labels: area/kubernetes

wrong namespace
  kubernetes/deployments/core/datastore/minio/app/helmrelease.yaml
Labels: area/kubernetes

wrong pvc
  kubernetes/deployments/core/datastore/minio/app/helmrelease.yaml
Labels: area/kubernetes

add cloudflare and fix minio.tld
  kubernetes/deployments/core/datastore/minio/app/cloudflareaccessapplication.yaml
  kubernetes/deployments/core/datastore/minio/app/helmrelease.yaml
  kubernetes/deployments/core/datastore/minio/app/kustomization.yaml
Labels: area/kubernetes

vscode fucked me
  kubernetes/deployments/core/datastore/minio/app/helmrelease.yaml
Labels: area/kubernetes

add a requirement for nginx-external
  kubernetes/deployments/core/datastore/minio/ks.yaml
Labels: area/kubernetes

?
  kubernetes/deployments/core/datastore/minio/app/helmrelease.yaml
Labels: area/kubernetes

scrape config
  kubernetes/deployments/core/monitoring/kube-prometheus-stack/app/scrapeconfigs/kustomization.yaml
  kubernetes/deployments/core/monitoring/kube-prometheus-stack/app/scrapeconfigs/minio.yaml
Labels: area/kubernetes

quick todo
  kubernetes/deployments/core/datastore/minio/app/helmrelease.yaml
Labels: area/kubernetes

try this
  kubernetes/deployments/core/datastore/minio/app/helmrelease.yaml
Labels: area/kubernetes

add minio dashboard
  kubernetes/deployments/core/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

data folder
  kubernetes/deployments/core/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

default for now
  kubernetes/deployments/core/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

move datasource
  kubernetes/deployments/core/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

dashboard update
  kubernetes/deployments/core/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

🤷‍♂️
  kubernetes/deployments/core/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

add mc to brew
  Taskfile.yml
Labels: none

move grafana to longhorn
  kubernetes/deployments/core/monitoring/grafana/app/helmrelease.yaml
  kubernetes/deployments/core/monitoring/grafana/app/kustomization.yaml
  kubernetes/deployments/core/monitoring/grafana/app/pvc.yaml
Labels: area/kubernetes

todo
  kubernetes/deployments/core/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

prometheus to longhorn
  kubernetes/deployments/core/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/deployments/core/monitoring/kube-prometheus-stack/app/pvc.yaml
Labels: area/kubernetes

cloudnative to longhorn
  kubernetes/deployments/core/database/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes

🖕🏻
  kubernetes/deployments/core/monitoring/kube-prometheus-stack/app/kustomization.yaml
Labels: area/kubernetes

terraform
  .github/workflows/publish-terraform.yaml
Labels: area/github

tf-controller
  kubernetes/deployments/core/flux-system/tf-controller/app/helmrelease.yaml
  kubernetes/deployments/core/flux-system/tf-controller/app/kustomization.yaml
  kubernetes/deployments/core/flux-system/tf-controller/ks.yaml
Labels: area/kubernetes

yarp
  kubernetes/deployments/core/flux-system/tf-controller/app/helmrelease.yaml
Labels: area/kubernetes

get in there
  kubernetes/deployments/core/flux-system/kustomization.yaml
Labels: area/kubernetes
