Repository kFlix-tv/k8s-kflix, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/go-task, area/terraform

doctor d
  kubernetes/deployments/core/flux-system/tf-controller/app/helmrelease.yaml
Labels: area/kubernetes

tf-cloud terraform
  terraform/tf-cloud/.terraform.lock.hcl
  terraform/tf-cloud/providers.tf
  terraform/tf-cloud/terraform.tf
  terraform/tf-cloud/tfcloud.tf
  terraform/tf-cloud/variables.tf
Labels: area/terraform

tf lock
  terraform/.terraform.lock.hcl
Labels: area/terraform

remove .tflock
  .gitignore
Labels: none

fix up
  .github/workflows/publish-terraform.yaml
Labels: area/github

move
  terraform/kubernetes/tf-cloud/.terraform.lock.hcl
  terraform/kubernetes/tf-cloud/providers.tf
  terraform/kubernetes/tf-cloud/terraform.tf
  terraform/kubernetes/tf-cloud/tfcloud.tf
  terraform/kubernetes/tf-cloud/variables.tf
Labels: area/terraform

external secret
  kubernetes/deployments/core/flux-system/tf-controller/app/externalsecret.yaml
Labels: area/kubernetes

i need to make a workflow that detects this
  kubernetes/deployments/core/flux-system/tf-controller/app/kustomization.yaml
Labels: area/kubernetes

template
  kubernetes/deployments/core/flux-system/tf-controller/app/externalsecret.yaml
Labels: area/kubernetes

terraform attempt 1
  kubernetes/deployments/core/flux-system/tf-controller/ks.yaml
  kubernetes/deployments/core/flux-system/tf-controller/terraforms/kustomization.yaml
  kubernetes/deployments/core/flux-system/tf-controller/terraforms/ocirepository.yaml
  kubernetes/deployments/core/flux-system/tf-controller/terraforms/tf-tfcloud.yaml
Labels: area/kubernetes

rename
  kubernetes/deployments/core/flux-system/tf-controller/terraforms/tf-tfcloud.yaml
Labels: area/kubernetes

wrong path
  kubernetes/deployments/core/flux-system/tf-controller/terraforms/tf-tfcloud.yaml
Labels: area/kubernetes

add ovh-s3
  terraform/kubernetes/tf-cloud/tfcloud.tf
Labels: area/terraform

duh
  terraform/kubernetes/tf-cloud/tfcloud.tf
Labels: area/terraform

cloudflare zone dns terraform
  terraform/kubernetes/cloudflare/account.tf
  terraform/kubernetes/cloudflare/cache.tf
  terraform/kubernetes/cloudflare/firewall.tf
  terraform/kubernetes/cloudflare/main.tf
  terraform/kubernetes/cloudflare/providers.tf
  terraform/kubernetes/cloudflare/records.tf
  terraform/kubernetes/cloudflare/variables.tf
  terraform/kubernetes/cloudflare/zone.tf
Labels: area/terraform

varsKeys
  kubernetes/deployments/core/flux-system/tf-controller/terraforms/tf-tfcloud.yaml
Labels: area/kubernetes

more tf
  kubernetes/deployments/core/flux-system/tf-controller/app/externalsecret.yaml
  kubernetes/deployments/core/flux-system/tf-controller/terraforms/kustomization.yaml
  kubernetes/deployments/core/flux-system/tf-controller/terraforms/tf-cloudflare.yaml
Labels: area/kubernetes

rename
  kubernetes/deployments/core/flux-system/tf-controller/terraforms/tf-cloudflare.yaml
Labels: area/kubernetes

relay on longhorn
  kubernetes/deployments/core/database/cloudnative-pg/ks.yaml
  kubernetes/deployments/core/monitoring/kube-prometheus-stack/ks.yaml
Labels: area/kubernetes

🤦🏻‍♂️
  kubernetes/deployments/core/flux-system/tf-controller/app/externalsecret.yaml
Labels: area/kubernetes

need to log in to cloud
  kubernetes/deployments/core/flux-system/tf-controller/app/externalsecret.yaml
  kubernetes/deployments/core/flux-system/tf-controller/terraforms/tf-cloudflare.yaml
Labels: area/kubernetes

specify namespace?
  kubernetes/deployments/core/flux-system/tf-controller/terraforms/tf-cloudflare.yaml
Labels: area/kubernetes

api token
  kubernetes/deployments/core/flux-system/tf-controller/app/externalsecret.yaml
Labels: area/kubernetes

we'll come back tomorrow
  kubernetes/deployments/core/flux-system/tf-controller/terraforms/kustomization.yaml
Labels: area/kubernetes

todo
  kubernetes/deployments/core/networking/nginx/external/helmrelease.yaml
Labels: area/kubernetes

readd cloudflare
  kubernetes/deployments/core/flux-system/tf-controller/terraforms/kustomization.yaml
Labels: area/kubernetes

remove terraform for now
  kubernetes/deployments/core/flux-system/tf-controller/terraforms/kustomization.yaml
Labels: area/kubernetes

minio helm
  kubernetes/flux/repositories/helm/kustomization.yaml
  kubernetes/flux/repositories/helm/minio.yaml
Labels: area/kubernetes

minio-operator
  kubernetes/deployments/core/minio-operator/kustomization.yaml
  kubernetes/deployments/core/minio-operator/minio-operator/app/helmrelease.yaml
  kubernetes/deployments/core/minio-operator/minio-operator/app/kustomization.yaml
  kubernetes/deployments/core/minio-operator/minio-operator/ks.yaml
  kubernetes/deployments/core/minio-operator/namespace.yaml
Labels: area/kubernetes

archive
  archive/minio/app/cloudflareaccessapplication.yaml
  archive/minio/app/externalsecret.yaml
  archive/minio/app/helmrelease.yaml
  archive/minio/app/kustomization.yaml
  archive/minio/app/pvc.yaml
  archive/minio/ks.yaml
Labels: none

missed a bit
  kubernetes/deployments/core/minio-operator/minio-operator/app/kustomization.yaml
Labels: area/kubernetes

externaldns
  kubernetes/deployments/core/minio-operator/minio-operator/app/helmrelease.yaml
Labels: area/kubernetes

why be the same as everyone else when can be different
  kubernetes/deployments/core/minio-operator/minio-operator/app/helmrelease.yaml
Labels: area/kubernetes

update
  kubernetes/deployments/apps/default/kubernetes-schemas/app/helmrelease.yaml
Labels: area/kubernetes

minio-tenant
  kubernetes/deployments/core/minio-tenant/kustomization.yaml
  kubernetes/deployments/core/minio-tenant/minio-tenant/ks.yaml
  kubernetes/deployments/core/minio-tenant/minio-tenant/tenant/ingress.yaml
  kubernetes/deployments/core/minio-tenant/minio-tenant/tenant/kustomization.yaml
  kubernetes/deployments/core/minio-tenant/minio-tenant/tenant/tenant.yaml
  kubernetes/deployments/core/minio-tenant/namespace.yaml
Labels: area/kubernetes

external secret
  kubernetes/deployments/core/minio-tenant/minio-tenant/tenant/externalsecret.yaml
Labels: area/kubernetes

external secret
  kubernetes/deployments/core/minio-tenant/minio-tenant/tenant/kustomization.yaml
Labels: area/kubernetes

secretstoreref
  kubernetes/deployments/core/minio-tenant/minio-tenant/tenant/externalsecret.yaml
Labels: area/kubernetes

move dns & create bucket
  kubernetes/deployments/core/minio-tenant/minio-tenant/tenant/ingress.yaml
  kubernetes/deployments/core/minio-tenant/minio-tenant/tenant/tenant.yaml
Labels: area/kubernetes

snapshot-controller
  kubernetes/deployments/core/kube-system/snapshot-controller/app/kustomization.yaml
  kubernetes/deployments/core/kube-system/snapshot-controller/app/snapshot-controller/helmrelease.yaml
  kubernetes/deployments/core/kube-system/snapshot-controller/app/snapshot-controller/kustomization.yaml
  kubernetes/deployments/core/kube-system/snapshot-controller/app/snapshot-validation-webhook/helmrelease.yaml
  kubernetes/deployments/core/kube-system/snapshot-controller/app/snapshot-validation-webhook/kustomization.yaml
  kubernetes/deployments/core/kube-system/snapshot-controller/ks.yaml
Labels: area/kubernetes

.github/labeler.yaml:

area/ansible:
- "ansible/**/*"
area/github:
- ".github/**/*"
area/kubernetes:
- "kubernetes/**/*"
area/go-task:
- ".taskfiles/**/*"
area/terraform:
- "terraform/**/*"
